/*---MODIFICACION DE LA CLASE CONTAINER DE CONFIRMADO -----------*/
.container {
    width: 900px; /* Ancho del contenedor */
    height: 500px; /* Altura del contenedor */
    border: 3px solid #ffffff; /* Borde de 1px sólido */
    border-radius: 10px; /* Borde redondeado */
    margin: 50px auto; /* Margen superior e inferior de 50px y centrado horizontalmente */
    padding: 20px; /* Relleno interno */
    box-sizing: border-box; /* Box-sizing para incluir el borde en el tamaño total */
    background: linear-gradient(to bottom right, #da0404, #e08105); /* Degradado lineal */
  }
  
  /* Estilos para el encabezado */
  .header {
    text-align: center; /* Alineación centrada del texto */
    margin-bottom: 20px; /* Margen inferior de 20px */
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
  }
  
  /* Estilos para el texto */
  .text {
    text-align: justify; /* Alineación justificada del texto */
    color: aliceblue;
  }
  
  /* Estilos para la lista */
  .text ul {
    list-style: none; /* Quita los estilos de lista predeterminados */
    padding-left: 0; /* Elimina el relleno predeterminado de la lista */
  }
  
  .text ul li {
    margin-bottom: 10px; /* Margen inferior entre elementos de la lista */
  }
  
  body {
    background-image: url('fondo.jpg');
    background-size: cover;
  }

  /*DEL BOTON PARA IR AL INICIO DE FOOD CHAMPION TRUCK */
  .boton_blanco {
    background-color: rgb(255, 145, 0); /* Establece el color de fondo del botón en blanco */
    color: black; /* Establece el color del texto en negro */
    padding: 10px 10px; /* Ajusta el relleno del botón según sea necesario */
    text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
    border: 1px solid black; /* Agrega un borde al botón */
    border-radius: 3px; /* Ajusta el radio de borde para hacerlo un poco más redondeado */
  }
  
  .boton_blanco:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el cursor sobre el botón */
  }  